/* ===========================
   WRAPPER
=========================== */
.form-wrapper {
 /* position: relative; */
  margin: 0 auto;
  padding: var(--spacing-2xl) var(--spacing-lg);
}

.form-title {
  font-size: var(--font-size-2xl);
  margin-bottom: var(--spacing-xl);
}

.page-title {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: var(--spacing-lg);
}
.page-title h2{
  margin: 0;
  font-weight: var(--font-weight-light);
  font-size: 32px;
}
.page-title .fa-user-plus {
  font-size: 30px;
}

/* ===========================
   TOGGLE BUTTONS
=========================== */
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-2xl);
  height: 200px;
}

@media (min-width: 600px){
  .toggle-wrapper {
    flex-direction: row;
    margin-bottom: 0;
  }
  .toggle-btn {
    width: 345px;
    font-size: 28px;
  }
}

.toggle-btn {
  height: 150px;
  padding: var(--spacing-lg) var(--spacing-2xl);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-border-light);
  background: var(--color-bg-light);
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}

.toggle-btn.active {
  background: #dbeafe;
  border-color: #60a5fa;
}

.user-plus {
  margin-right: .75rem;
}





