/* ===========================
   WRAPPER
=========================== */
.form-wrapper {
  /* max-width: 900px; */
  margin: 0 auto;
  padding: 2rem 1rem;
}

.form-title {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.page-title {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 1rem;
}
.page-title h2{
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
.page-title .fa-user-plus {
  font-size: 30px;
}

/* ===========================
   TOGGLE BUTTONS
=========================== */
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  height: 200px;

}

@media (min-width: 600px){
  .toggle-wrapper {
    flex-direction: row;
  }
  .toggle-btn {
    width: 345px;
    font-size: 28px;
  }
}

.toggle-btn {
  height: 150px;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}

.toggle-btn.active {
  background: #dbeafe;
  border-color: #60a5fa;
}

.user-plus {
  margin-right: .75rem;
}


/* ===========================
   FORM SECTIONS
=========================== */
.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 1rem;
}

.form-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 600px){
.form-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
}

input, select {
  padding: .9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
input:focus , select:focus {
  outline: none;
  border-color: #00ff3c;
  /* box-shadow: 0 0 0 3px rgba(0, 136, 255, 0.2); */
}


/* ===========================
   SUBMIT BUTTON
=========================== */
.submit-btn {
  margin-top: 2rem;
  width: 100%;
  background: #0088ff;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}


/* ===========================
   SYSTEM ACCESS LIST
=========================== */
.system-access {
  background: #f3f4f6;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
}

.system-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.mark-all {
  padding: .5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}

.checkbox-item {
  display: flex;
  gap: .5rem;
  align-items: center;
}


