/* ===========================
   WRAPPER
=========================== */
.form-wrapper {
 /* position: relative; */
  margin: 0 auto;
  padding: 2rem 1rem;
}

.form-title {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.page-title {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 1rem;
}
.page-title h2{
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}
.page-title .fa-user-plus {
  font-size: 30px;
}

/* ===========================
   TOGGLE BUTTONS
=========================== */
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  height: 200px;

}

@media (min-width: 600px){
  .toggle-wrapper {
    flex-direction: row;
    margin-bottom: 0;
  }
  .toggle-btn {
    width: 345px;
    font-size: 28px;
  }
}

.toggle-btn {
  height: 150px;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}

.toggle-btn.active {
  background: #dbeafe;
  border-color: #60a5fa;
}

.user-plus {
  margin-right: .75rem;
}





