/* ===========================
   TOGGLE BUTTONS
=========================== */
.toggle-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.toggle-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  font-size: 18px;
  font-weight:normal;
}

.toggle-btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: pointer;
  flex: 1;
}


.toggle-btn.active {
  background: #dbeafe;
  border-color: #60a5fa;
}

.offboarding-btn.active {
  background: #fee2e2;
  border-color: #f87171;
}
.offboarding-btn{
  height: 150px;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}

.users-icon {
  font-size: 30px;
  color: red;
  margin-right: .75rem;
}