

.offboarding-btn.active {
  background: #fee2e2;
  border-color: #f87171;
}
.offboarding-btn{
  height: 150px;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}

.users-icon {
  font-size: 30px;
  color: red;
  margin-right: .75rem;
}

.case-container{
  width: 100%;
  background: white;
  padding: 2.5rem;
  border-radius: 12px;
  border: 1px solid #eee;
  margin-block: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.employee h3{
  font-size: 28px;
  font-weight: bold;
}
.employee span{
  font-size: 16px;
  color: #555;
  margin-top: .5rem;
}
.employee-details-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 2rem;
}
.employee-sublist{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

} 

.remove-btn-container{
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.remove-btn {
  width: 100%;
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .8rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 15px;
}

.remove-btn:hover {
  background: #e03535;
} 

@media (min-width: 600px){
  .employee-details-list{
    flex-direction: row;
    gap: 5rem;
    margin-block: 3rem;
    padding-bottom: 1rem;
  }
  .remove-btn-container{
    justify-content: flex-end;
    margin-top: -3.5rem;
    margin-right: 6rem;
    padding-inline: 2rem;
  }
  .remove-btn {
    width: auto;
  }
}

