

.offboarding-btn.active {
  background: #fee2e2;
  border-color: #f87171;
}
.offboarding-btn{
  height: 150px;
  padding: var(--spacing-lg) var(--spacing-2xl);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-border-light);
  background: var(--color-bg-light);
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
}

.users-icon {
  font-size: 30px;
  color: red;
  margin-right: .75rem;
}

.case-container{
  width: 100%;
  background: var(--color-bg-white);
  padding: 2.5rem;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--color-border-lighter);
  margin-block: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.employee h3{
  font-size: 28px;
  font-weight: var(--font-weight-bold);
}
.employee p{
  font-size: var(--btn-font-size);
  color: #555;
}
.employee-details-list{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-block: var(--spacing-2xl);
}
.employee-sublist{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
} 

.remove-btn-container{
  display: flex;
  width: 100%;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-2xl);
}

.remove-btn {
  width: 100%;
  background: #ff4444;
  color: var(--color-status-text-light);
  border: none;
  border-radius: var(--border-radius-md);
  padding: .8rem var(--btn-padding-sm);
  margin-top: var(--spacing-lg);
  cursor: pointer;
  font-size: 15px;
}

.remove-btn:hover {
  background: #e03535;
} 

@media (min-width: 600px){

  .case-container{
    padding: 1.5rem;
  }

  .employee-details-list{
    flex-direction: row;
    gap: 5rem;
  }
  .remove-btn-container{
    justify-content: flex-end;
    margin-top: -3.5rem;
    margin-right: 6rem;
    padding-inline: 2rem;
  }
  .remove-btn {
    width: auto;
  }
}

