/* ===========================
   FORM SECTIONS
=========================== */
.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 1rem;
}

.form-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 600px){
.form-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
}

input, select {
  padding: .9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
input:focus , select:focus {
  outline: none;
  border-color: #999;
}


/* ===========================
   SUBMIT BUTTON
=========================== */
.submit-btn {
  margin-top: 2rem;
  width: 100%;
  background: #0088ff;
  border: none;
  color: white;
  padding: 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background: #0077e6;
}

@media (min-width: 600px){
  .submit {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .submit-btn {
    width: auto;
    padding: 18px 3rem;
    font-size: 18px;
  }
}


/* ===========================
   SYSTEM ACCESS LIST
=========================== */
.system-access {
  background: #f3f4f6;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
}

.system-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.mark-all {
  padding: .8rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.mark-all:hover {
  background: #e5e7eb;
}

.system-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  column-gap: 2rem;
  margin-top: 1rem;
}

@media (min-width: 600px){
  .system-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



.checkbox-item {
  display: flex;
  gap: .5rem;
  align-items: center;
}
.checkbox-item input {
  width: 16px;
  height: 16px;
}