/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family:  "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

/* ==============================
   LAYOUT-KOMPONENTER
================================ */

/* Grid-baserad portalstruktur */
.portal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; 
  grid-template-areas: 
    "header" 
    "main";
  min-height: 100dvh;
  row-gap: 1rem;
}

@media (min-width: 769px) {
  .portal-wrapper {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr; 
    grid-template-areas:
      "nav header"
      "nav main";
    gap: 1rem;
  }
}

@media (min-width: 1400px) {
  .portal-wrapper {
    grid-template-columns: 250px 1fr;
  }
}


main {
  grid-area: main;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow-y: auto;
  min-height: 0;
}